.project-list * {
    box-sizing: border-box;
}
.project-list-head ul {
    width: 100%;
    border-bottom: 2px solid #dedfdf;
}
.project-list-body ul {
    width: 100%;
    border-bottom: 1px solid #dedfdf;
}
.project-list-head ul::after,
.project-list-body ul::after {
    content: '';
    clear: both;
    display: table;
}
.project-list-head ul li,
.project-list-body ul li {
    float: left;
    padding: 20px 10px;
    word-break: keep-all;
}
.project-list-head ul li {
    text-align: center;
    font-weight: bold;
}
.project-list-head ul li:nth-of-type(1),
.project-list-body ul li:nth-of-type(1) {
    width: 22%;
}
.project-list-head ul li:nth-of-type(2),
.project-list-body ul li:nth-of-type(2) {
    width: 20%;
    text-align: center;
}
.project-list-head ul li:nth-of-type(3),
.project-list-body ul li:nth-of-type(3) {
    width: 20%;
    text-align: center;
}
.project-list-head ul li:nth-of-type(4),
.project-list-body ul li:nth-of-type(4) {
    width: 38%;
}
@media screen and (min-width: 0px) and (max-width: 1024px) {
    .web {
        display: none;
    }
    .project-list-body {
        border-top: 2px solid #aaa;
    }
    .project-list-body ul {
        padding: 20px 0;
    }
    .project-list-body ul li.info-title {
        font-size: 40px;
        font-weight: bold;
        color: #ff5a5f;
    }
    .project-list-body ul li span.title {
        font-weight: bold;
        margin-right: 10px;
    }
    .project-list-body ul li span.title::after {
        content: ':';
        display: inline-block;
        margin-left: 5px;
    }
    .project-list-body ul li {
        font-size: 36px;
    }
    .project-list-body ul li:nth-of-type(1) {
        width: 100%;
        text-align: left;
    }
    .project-list-body ul li:nth-of-type(2) {
        width: 100%;
        text-align: left;
    }
    .project-list-body ul li:nth-of-type(3) {
        width: 100%;
        text-align: left;
    }
    .project-list-body ul li:nth-of-type(4) {
        width: 100%;
        text-align: left;
    }
}
@media screen and (min-width: 1024px) {
    .project-list-body ul li span.title {
        display: none;
    }
}